In [86]:
import numpy as np
import pandas as pd
from scipy import stats
from datetime import datetime
from pandas import ExcelWriter

#Ruta del raiz de directorio.
Ruta="../"

#Calcula el % de valores por columna.
def valores_nulos_col(df):
    n_records=len(df)
    for columna in df:
        print ("{}|{}|{}".format(
            df[columna].name,len(df[df[columna].isnull()])/(1*n_records),df[columna].dtype
               ))
        
#Saco la lista de los valores fuera distribucion(outlier).
def detect_outlier(data_1):
    outliers=[]
    threshold=3
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    for y in data_1:
        z_score= (y - mean_1)/(std_1*1.0) 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

#Saca el numero de valores que encuentran fuera de distribucion 
def outliers_col(df):
    for columna in df:
        if df[columna].dtype != np.object:
            n_outliers =len(df[np.abs(stats.zscore(df[columna]))>3])
            print ("{}|{}|{}".format(
                df[columna].name,
                n_outliers,
                df[columna].dtype
            ))
#Busco los valores fuera de la distrucion y los cambio por media corta a 30%.
def cambiar_outlier(data_1):
    threshold=3
    mean_1 = np.mean(data_1)
    mean_30 = stats.trim_mean(data_1, 0.300);
    std_1 =np.std(data_1)
    for y in data_1:
        z_score= (y - mean_1)/(std_1*1.0)  
        if np.abs(z_score) > threshold:
            data_1=data_1.replace(y,mean_30)
    return data_1            
            
#Funcion que valida si dato es un float, 
#Si no es float lo vuelve 0 para que genere problemas con convercion de formato
def is_float(value):
  try:
    value= float("{0:.4f}".format(value))
    return value
  except:
    return 0.0

#Formato de fecha. 
def conver_date(fecha):
  try:
    fecha= datetime.strptime(fecha[:10], '%d/%m/%Y').date()
    return fecha
  except:
    return 'Sin_feha'

In [68]:
def crear_data_Motos_vehiculos_particulares(numeroFilas, dataOriginal):
    porcetajeInicial=0.5
    df_Motos_vehiculos_particulares = pd.DataFrame(index=np.arange(0, numeroFilas), columns=('PM10', 'Motos_vehiculos_particulares', 'Lluvia','Poblacion','PIB'))
    
    for x in np.arange(0, numeroFilas):
            df_Motos_vehiculos_particulares.loc[x] = [dataOriginal.iloc[0, 0] ,dataOriginal.iloc[0, 1] * porcetajeInicial ,dataOriginal.iloc[0, 2] , dataOriginal.iloc[0, 3], dataOriginal.iloc[0, 4]]
            porcetajeInicial =porcetajeInicial+0.1
    return df_Motos_vehiculos_particulares

def crear_Lluvia(numeroFilas, dataOriginal):
    porcetajeInicial=0.5
    df_Motos_vehiculos_particulares = pd.DataFrame(index=np.arange(0, numeroFilas), columns=('PM10', 'Motos_vehiculos_particulares', 'Lluvia','Poblacion','PIB'))
    
    for x in np.arange(0, numeroFilas):
            df_Motos_vehiculos_particulares.loc[x] = [dataOriginal.iloc[0, 0] ,dataOriginal.iloc[0, 1]  ,dataOriginal.iloc[0, 2]* porcetajeInicial , dataOriginal.iloc[0, 3], dataOriginal.iloc[0, 4]]
            porcetajeInicial =porcetajeInicial+0.1
    return df_Motos_vehiculos_particulares


def crear_data_poblacion(numeroFilas, dataOriginal):
    porcetajeInicial=0.5
    df_Motos_vehiculos_particulares = pd.DataFrame(index=np.arange(0, numeroFilas), columns=('PM10', 'Motos_vehiculos_particulares', 'Lluvia','Poblacion','PIB'))
    
    for x in np.arange(0, numeroFilas):
            df_Motos_vehiculos_particulares.loc[x] = [dataOriginal.iloc[0, 0] ,dataOriginal.iloc[0, 1]  ,dataOriginal.iloc[0, 2] , dataOriginal.iloc[0, 3]* porcetajeInicial, dataOriginal.iloc[0, 4]]
            porcetajeInicial =porcetajeInicial+0.1
    return df_Motos_vehiculos_particulares


def crear_data_PIB(numeroFilas, dataOriginal):
    porcetajeInicial=0.5
    df_Motos_vehiculos_particulares = pd.DataFrame(index=np.arange(0, numeroFilas), columns=('PM10', 'Motos_vehiculos_particulares', 'Lluvia','Poblacion','PIB'))
    
    for x in np.arange(0, numeroFilas):
            df_Motos_vehiculos_particulares.loc[x] = [dataOriginal.iloc[0, 0] ,dataOriginal.iloc[0, 1]  ,dataOriginal.iloc[0, 2] , dataOriginal.iloc[0, 3], dataOriginal.iloc[0, 4]* porcetajeInicia]
            porcetajeInicial =porcetajeInicial+0.1
    return df_Motos_vehiculos_particulares

In [78]:
#Cargo la informacion del PIB de base y dejo solo el ultimo registro
Originales= pd.read_excel(Ruta+'PreparacionDatos/FloraTotal_3mes_pib.xlsx',sheet_name='FloraTotal', header=0)
Originales=Originales.drop(['Unnamed: 0.1','Unnamed: 0'], axis=1)
Originales=Originales.drop(range(0, 31, 1),axis=0)

Originales.reset_index(drop=True, inplace=True)
Originales

        PM10  Motos_vehiculos_particulares    Lluvia  Poblacion       PIB
0  28.345888                        630478  0.220213    2420114  19065590

In [80]:
df_Motos_vehiculos_particulares = crear_data_Motos_vehiculos_particulares(10,Originales)
df_Lluvia  = crear_Lluvia(10,Originales)
df_poblacion = crear_data_poblacion(10,Originales)
df_PIB = crear_PIB(10,Originales)

In [81]:
df_Motos_vehiculos_particulares

      PM10 Motos_vehiculos_particulares    Lluvia Poblacion       PIB
0  28.3459                       315239  0.220213   2420114  19065590
1  28.3459                       378287  0.220213   2420114  19065590
2  28.3459                       441335  0.220213   2420114  19065590
3  28.3459                       504382  0.220213   2420114  19065590
4  28.3459                       567430  0.220213   2420114  19065590
5  28.3459                       630478  0.220213   2420114  19065590
6  28.3459                       693526  0.220213   2420114  19065590
7  28.3459                       756574  0.220213   2420114  19065590
8  28.3459                       819621  0.220213   2420114  19065590
9  28.3459                       882669  0.220213   2420114  19065590

In [82]:
df_Lluvia

      PM10 Motos_vehiculos_particulares    Lluvia Poblacion       PIB
0  28.3459                       630478  0.110106   2420114  19065590
1  28.3459                       630478  0.132128   2420114  19065590
2  28.3459                       630478  0.154149   2420114  19065590
3  28.3459                       630478   0.17617   2420114  19065590
4  28.3459                       630478  0.198191   2420114  19065590
5  28.3459                       630478  0.220213   2420114  19065590
6  28.3459                       630478  0.242234   2420114  19065590
7  28.3459                       630478  0.264255   2420114  19065590
8  28.3459                       630478  0.286276   2420114  19065590
9  28.3459                       630478  0.308298   2420114  19065590

In [83]:
df_poblacion

      PM10 Motos_vehiculos_particulares    Lluvia    Poblacion       PIB
0  28.3459                       630478  0.220213  1.21006e+06  19065590
1  28.3459                       630478  0.220213  1.45207e+06  19065590
2  28.3459                       630478  0.220213  1.69408e+06  19065590
3  28.3459                       630478  0.220213  1.93609e+06  19065590
4  28.3459                       630478  0.220213   2.1781e+06  19065590
5  28.3459                       630478  0.220213  2.42011e+06  19065590
6  28.3459                       630478  0.220213  2.66213e+06  19065590
7  28.3459                       630478  0.220213  2.90414e+06  19065590
8  28.3459                       630478  0.220213  3.14615e+06  19065590
9  28.3459                       630478  0.220213  3.38816e+06  19065590

In [84]:
df_PIB

      PM10 Motos_vehiculos_particulares    Lluvia Poblacion          PIB
0  28.3459                       630478  0.220213   2420114   9.5328e+06
1  28.3459                       630478  0.220213   2420114  1.14394e+07
2  28.3459                       630478  0.220213   2420114  1.33459e+07
3  28.3459                       630478  0.220213   2420114  1.52525e+07
4  28.3459                       630478  0.220213   2420114   1.7159e+07
5  28.3459                       630478  0.220213   2420114  1.90656e+07
6  28.3459                       630478  0.220213   2420114  2.09721e+07
7  28.3459                       630478  0.220213   2420114  2.28787e+07
8  28.3459                       630478  0.220213   2420114  2.47853e+07
9  28.3459                       630478  0.220213   2420114  2.66918e+07

In [90]:
writer = pd.ExcelWriter('PreparacionDatos_prediccion.xlsx')
df_Motos_vehiculos_particulares.to_excel(writer, 'Motos_vehiculos_particulares')
df_Lluvia.to_excel(writer, 'Lluvia')
df_poblacion.to_excel(writer, 'Poblacion')
df_PIB.to_excel(writer, 'PIB')
writer.save()