In [1]:
import numpy as np
import pandas as pd
from scipy import stats

#Calcula el % de valores por columna.
def valores_nulos_col(df):
    n_records=len(df)
    for columna in df:
        print ("{}|{}|{}".format(
            df[columna].name,len(df[df[columna].isnull()])/(1*n_records),df[columna].dtype
               ))
        
#Saco la lista de los valores fuera distribucion(outlier).
def detect_outlier(data_1):
    outliers=[]
    threshold=3
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

#Saca el numero de valores que encuentran fuera de distribucion 
def outliers_col(df):
    for columna in df:
        if df[columna].dtype != np.object:
            n_outliers =len(df[np.abs(stats.zscore(df[columna]))>3])
            print ("{}|{}|{}".format(
                df[columna].name,
                n_outliers,
                df[columna].dtype
            ))
#Busco los valores fuera de la distrucion y los cambio por media corta a 30%.
def cambiar_outlier(data_1):
    threshold=3
    mean_1 = np.mean(data_1)
    mean_30 = stats.trim_mean(data_1, 0.300);
    std_1 =np.std(data_1)
    for y in data_1:
        z_score= (y - mean_1)/std_1 
        if np.abs(z_score) > threshold:
            data_1=data_1.replace(y,mean_30)
    return data_1            
            
#Funcion que valida si dato es un float, 
#Si no es float lo vuelve 0 para que genere problemas con convercion de formato
def is_float(value):
  try:
    value= float("{0:.4f}".format(value))
    return value
  except:
    return 0.0

In [2]:
import pandas as pd

Ruta="/Users/cristianchaparro/Documents/curso_data_science/Tesis/"

#Datos La información sobre motos y vehículos particulares de Diagnóstico Automotor del Valle

Tasa_de_motorizacion_general = pd.read_excel(Ruta+'Originales/Tasa_de_motorizacion_general.xlsx',sheet_name='Tasa_de_motorizacion_general', header=0)
Tasa_de_motorizacion_general=Tasa_de_motorizacion_general.rename(columns={
  "Año":"Año",
    "Motos particulares":"Motos_particulares",
    "Vehículos particulares":"Vehiculos_particulares",
    "Motos + Vehículos particulares":"Motos_vehiculos_particulares",
    "Tasa de Crecimiento General":"Tasa_crecimiento_general"
})

Tasa_de_motorizacion_general.head(19)

,Año,Motos_particulares,Vehiculos_particulares,Motos_vehiculos_particulares,Tasa_crecimiento_general
0,2000,55462.0,139952.0,195414.0,NaN
1,2001,56045.0,145394.0,201439.0,0.030832
2,2002,56498.0,152672.0,209170.0,0.038379
3,2003,57038.0,160323.0,217361.0,0.039160
4,2004,58267.0,168837.0,227104.0,0.044824
5,2005,60679.0,179831.0,240510.0,0.059030
6,2006,64309.0,194554.0,258863.0,0.076309
7,2007,66650.0,212359.0,279009.0,0.077825
8,2008,69871.0,227705.0,297576.0,0.066546
9,2009,77256.0,239913.0,317169.0,0.065842
10,2010,90693.0,257373.0,348066.0,0.097415
11,2011,111422.0,279905.0,391327.0,0.124290
12,2012,138262.0,300507.0,438769.0,0.121234
13,2013,162626.0,321493.0,484119.0,0.103357
14,2014,181174.0,345165.0,526339.0,0.087210
15,2015,196934.0,370419.0,567353.0,0.077923
16,2016,206592.0,395202.0,601794.0,0.060705
17,2017,211538.0,418940.0,630478.0,0.047664
18,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd
from scipy import stats # importando scipy.stats
from pandas import ExcelWriter
from pandas import ExcelFile

Ruta="/Users/cristianchaparro/Documents/curso_data_science/Tesis/"


#Revision de los datos de la estacion la flora 2010-2017.

flora2010 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2010 (ug-m3)', header=0)
flora2011 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2011 (ug-m3)', header=0)
flora2012 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2012 (ug-m3)', header=0)
flora2013 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2013 (ug-m3)', header=0)
flora2014 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2014 (ug-m3)', header=0)
flora2015 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2015 (ug-m3)', header=0)
flora2016 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2016 (ug-m3)', header=0)
flora2017 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2017 (ug-m3)', header=0)

#Agrupo los datos de contaminacion y Tasa_de_motorizacion_general.
flora2010['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[10,4]
flora2011['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[11,4]
flora2012['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[12,4]
flora2013['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[13,4]
flora2014['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[14,4]
flora2015['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[15,4]
flora2016['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[16,4]
flora2017['Tasa_crecimiento_general']=Tasa_de_motorizacion_general.iloc[17,4]

#Unifico todos los datos en solo archivo.

floraTotal=pd.concat([flora2010,flora2011,flora2012,flora2013,flora2014,flora2015,flora2016,flora2017], ignore_index=True,sort=True)

floraTotal=floraTotal.rename(columns={
  "Fecha & Hora":"Fecha",
    "H2S (ug/m3)":"H2S",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})

In [4]:
#Crea una columna con los numero de nulos.
floraTotal['N_NA']=floraTotal.isnull().sum(axis=1)

#Solo dejo los registros con menos de 3 nulos.
floraTotal=floraTotal[floraTotal.N_NA<3]

#Borro la columna temporal.
floraTotal=floraTotal.drop(['N_NA'], axis=1)
floraTotal=floraTotal.drop(['Fecha'], axis=1)

In [5]:
floraTotal.shape

(8745, 13)

In [6]:
floraTotal.head(4)

,CO,DirVien,H2S,Humedad,Lluvia,NO2,O3,PM10,RSolar,SO2,Tasa_crecimiento_general,Temp,VelVien
4052,391.467106,176.1,NaN,70.1,0,NaN,21.635581,2.6,0,5.740887,0.097415,24.4,3.2
4053,708.846477,149,NaN,76.4,0,NaN,11.241337,16.3,0,7.714161,0.097415,23.5,1.5
4054,683.904529,144,NaN,79.1,0,NaN,8.239527,9.8,0,5.135901,0.097415,22.7,1.3
4055,841.206415,197.2,NaN,81.4,0,NaN,7.457877,6.5,0,6.760057,0.097415,22.6,0.3

In [7]:
# Cambio los N/A por cero
floraTotal['H2S'].fillna(0, inplace=True)
floraTotal['PM10'].fillna(0, inplace=True)
floraTotal['SO2'].fillna(0, inplace=True)
floraTotal['NO2'].fillna(0, inplace=True)
floraTotal['CO'].fillna(0, inplace=True)
floraTotal['O3'].fillna(0, inplace=True)
floraTotal['VelVien'].fillna(0, inplace=True)
floraTotal['DirVien'].fillna(0, inplace=True)
floraTotal['Temp'].fillna(0, inplace=True)
floraTotal['Humedad'].fillna(0, inplace=True)
floraTotal['RSolar'].fillna(0, inplace=True)
floraTotal['Lluvia'].fillna(0, inplace=True)

In [8]:

#Aplico la funcion is_float en cada unos de la columnas.
floraTotal['H2S'] = floraTotal.apply(lambda x:is_float(x['H2S']), axis=1)
floraTotal['NO2'] = floraTotal.apply(lambda x:is_float(x['NO2']), axis=1)
floraTotal['O3'] = floraTotal.apply(lambda x:is_float(x['O3']), axis=1)
floraTotal['PM10'] = floraTotal.apply(lambda x:is_float(x['PM10']), axis=1)
floraTotal['SO2'] = floraTotal.apply(lambda x:is_float(x['SO2']), axis=1)
floraTotal['CO'] = floraTotal.apply(lambda x:is_float(x['CO']), axis=1)
floraTotal['DirVien'] = floraTotal.apply(lambda x:is_float(x['DirVien']), axis=1)
floraTotal['Humedad'] = floraTotal.apply(lambda x:is_float(x['Humedad']), axis=1)
floraTotal['Lluvia'] = floraTotal.apply(lambda x:is_float(x['Lluvia']), axis=1)
floraTotal['RSolar'] = floraTotal.apply(lambda x:is_float(x['RSolar']), axis=1)
floraTotal['Temp'] = floraTotal.apply(lambda x:is_float(x['Temp']), axis=1)
floraTotal['VelVien'] = floraTotal.apply(lambda x:is_float(x['VelVien']), axis=1)
floraTotal['Tasa_crecimiento_general'] = floraTotal.apply(lambda x:is_float(x['Tasa_crecimiento_general']), axis=1)

In [9]:
#Vuelvo float32 todas las columnas.
floraTotal['H2S'] = floraTotal[['H2S']].astype('float32')
floraTotal['NO2'] = floraTotal['NO2'].astype('float32')
floraTotal['O3'] = floraTotal['O3'].astype('float32')
floraTotal['PM10'] = floraTotal['PM10'].astype('float32')
floraTotal['SO2'] = floraTotal['SO2'].astype('float32')
floraTotal['DirVien'] = floraTotal['DirVien'].astype('float32')
floraTotal['H2S'] = floraTotal['H2S'].astype('float32')
floraTotal['Humedad'] = floraTotal['Humedad'].astype('float32')
floraTotal['Lluvia'] = floraTotal['Lluvia'].astype('float32')
floraTotal['RSolar'] = floraTotal['RSolar'].astype('float32')
floraTotal['Temp'] = floraTotal['Temp'].astype('float32')
floraTotal['VelVien'] = floraTotal['VelVien'].astype('float32')
floraTotal['CO'] =  floraTotal['CO'].astype('float32')
floraTotal['Tasa_crecimiento_general'] =  floraTotal['Tasa_crecimiento_general'].astype('float32')

In [10]:
floraTotal['H2S']=cambiar_outlier(floraTotal['H2S'])
floraTotal['NO2']=cambiar_outlier(floraTotal['NO2'])
floraTotal['Temp']=cambiar_outlier(floraTotal['Temp'])
floraTotal['O3']=cambiar_outlier(floraTotal['O3'])
floraTotal['PM10']=cambiar_outlier(floraTotal['PM10'])
floraTotal['SO2']=cambiar_outlier(floraTotal['SO2'])
floraTotal['DirVien']=cambiar_outlier(floraTotal['DirVien'])
floraTotal['H2S']=cambiar_outlier(floraTotal['H2S'])
floraTotal['Humedad']=cambiar_outlier(floraTotal['Humedad'])
floraTotal['Lluvia']=cambiar_outlier(floraTotal['Lluvia'])
floraTotal['RSolar']=cambiar_outlier(floraTotal['RSolar'])
floraTotal['VelVien']=cambiar_outlier(floraTotal['VelVien'])
floraTotal['CO']=cambiar_outlier(floraTotal['CO'])

In [11]:
floraTotal.to_excel("FloraTotal.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.

In [12]:
floraTotal.head(20)

,CO,DirVien,H2S,Humedad,Lluvia,NO2,O3,PM10,RSolar,SO2,Tasa_crecimiento_general,Temp,VelVien
4052,391.467102,176.100006,0.0,70.099998,0.0,0.0,21.635599,2.600000,0.000000,5.740900,0.0974,24.400000,3.2
4053,708.846497,149.000000,0.0,76.400002,0.0,0.0,11.241300,16.299999,0.000000,7.714200,0.0974,23.500000,1.5
4054,683.904480,144.000000,0.0,79.099998,0.0,0.0,8.239500,9.800000,0.000000,5.135900,0.0974,22.700001,1.3
4055,841.206421,197.199997,0.0,81.400002,0.0,0.0,7.457900,6.500000,0.000000,6.760100,0.0974,22.600000,0.3
4056,681.828613,29.299999,0.0,86.400002,0.0,0.0,6.949200,9.000000,0.000000,5.796100,0.0974,21.900000,0.6
4057,634.866394,8.000000,0.0,87.599998,0.0,0.0,6.350200,15.500000,0.000000,5.289700,0.0974,21.700001,0.3
4058,668.423523,347.299988,0.0,88.400002,0.0,0.0,5.045700,34.599998,0.000000,6.296700,0.0974,21.400000,0.3
4059,577.201599,34.799999,0.0,88.699997,0.0,0.0,5.350700,37.299999,0.000000,6.678600,0.0974,21.299999,0.5
4060,724.085388,343.399994,0.0,89.699997,0.0,0.0,5.445800,27.000000,0.000000,7.116200,0.0974,21.000000,0.1
4061,971.997925,22.400000,0.0,89.099998,0.0,0.0,6.253400,34.599998,0.200000,8.013700,0.0974,21.100000,0.3
4062,576.613403,26.700001,0.0,87.500000,0.0,0.0,5.519600,24.700001,17.299999,7.189000,0.0974,21.400000,0.3
4063,531.930908,42.599998,0.0,88.800003,0.0,0.0,5.951700,53.099998,108.900002,7.869300,0.0974,21.500000,1.2
4064,724.577393,50.900002,0.0,84.900002,0.0,0.0,6.225200,27.100000,150.300003,9.710500,0.0974,22.200001,1.1
4065,692.254395,44.700001,0.0,79.400002,0.0,0.0,7.425800,34.000000,205.800003,10.434400,0.0974,23.000000,1.0
4066,568.959412,6.200000,0.0,78.300003,0.0,0.0,8.673900,29.799999,271.600006,13.247500,0.0974,23.299999,1.7
4067,558.145325,27.900000,0.0,73.099998,0.0,0.0,12.448500,39.400002,186.199997,18.237101,0.0974,23.799999,0.8
4068,524.857300,88.699997,0.0,67.099998,0.0,0.0,13.485800,21.600000,439.000000,58.665901,0.0974,25.299999,1.0
4069,447.236694,62.400002,0.0,67.699997,0.0,0.0,14.241500,12.600000,382.600006,56.890301,0.0974,25.400000,2.4
4070,481.800903,48.500000,0.0,83.699997,0.0,0.0,27.215300,7.000000,246.399994,33.715302,0.0974,22.799999,1.8
4071,352.516510,1.600000,0.0,77.099998,0.0,0.0,28.809200,4.500000,248.199997,19.012600,0.0974,23.700001,0.1

In [190]:
floraTotal.shape

(8745, 13)