In [180]:
import numpy as np
import pandas as pd
from scipy import stats
from datetime import datetime

#Ruta del raiz de directorio.
Ruta="../"

#Calcula el % de valores por columna.
def valores_nulos_col(df):
    n_records=len(df)
    for columna in df:
        print ("{}|{}|{}".format(
            df[columna].name,len(df[df[columna].isnull()])/(1*n_records),df[columna].dtype
               ))
        
#Saco la lista de los valores fuera distribucion(outlier).
def detect_outlier(data_1):
    outliers=[]
    threshold=3
    mean_1 = np.mean(data_1)
    std_1 =np.std(data_1)
    for y in data_1:
        z_score= (y - mean_1)/(std_1*1.0) 
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

#Saca el numero de valores que encuentran fuera de distribucion 
def outliers_col(df):
    for columna in df:
        if df[columna].dtype != np.object:
            n_outliers =len(df[np.abs(stats.zscore(df[columna]))>3])
            print ("{}|{}|{}".format(
                df[columna].name,
                n_outliers,
                df[columna].dtype
            ))
#Busco los valores fuera de la distrucion y los cambio por media corta a 30%.
def cambiar_outlier(data_1):
    threshold=3
    mean_1 = np.mean(data_1)
    mean_30 = stats.trim_mean(data_1, 0.300);
    std_1 =np.std(data_1)
    for y in data_1:
        z_score= (y - mean_1)/(std_1*1.0)  
        if np.abs(z_score) > threshold:
            data_1=data_1.replace(y,mean_30)
    return data_1            
            
#Funcion que valida si dato es un float, 
#Si no es float lo vuelve 0 para que genere problemas con convercion de formato
def is_float(value):
  try:
    value= float("{0:.4f}".format(value))
    return value
  except:
    return 0.0

#Formato de fecha. 
def conver_date(fecha):
  try:
    fecha= datetime.strptime(fecha[:10], '%d/%m/%Y').date()
    return fecha
  except:
    return 'Sin_feha'

In [181]:
#Datos La información sobre motos y vehículos particulares de Diagnóstico Automotor del Valle

Tasa_de_motorizacion_general = pd.read_excel(Ruta+'Originales/Tasa_de_motorizacion_general.xlsx',sheet_name='Tasa_de_motorizacion_general', header=0)
Tasa_de_motorizacion_general=Tasa_de_motorizacion_general.rename(columns={
  "Año":"Año",
    "Motos particulares":"Motos_particulares",
    "Vehículos particulares":"Vehiculos_particulares",
    "Motos + Vehículos particulares":"Motos_vehiculos_particulares",
    "Tasa de Crecimiento General":"Tasa_crecimiento_general"
})

Tasa_de_motorizacion_general.head(19)

,Año,Motos_particulares,Vehiculos_particulares,Motos_vehiculos_particulares,Tasa_crecimiento_general
0,2000,55462.0,139952.0,195414.0,NaN
1,2001,56045.0,145394.0,201439.0,0.030832
2,2002,56498.0,152672.0,209170.0,0.038379
3,2003,57038.0,160323.0,217361.0,0.039160
4,2004,58267.0,168837.0,227104.0,0.044824
5,2005,60679.0,179831.0,240510.0,0.059030
6,2006,64309.0,194554.0,258863.0,0.076309
7,2007,66650.0,212359.0,279009.0,0.077825
8,2008,69871.0,227705.0,297576.0,0.066546
9,2009,77256.0,239913.0,317169.0,0.065842
10,2010,90693.0,257373.0,348066.0,0.097415
11,2011,111422.0,279905.0,391327.0,0.124290
12,2012,138262.0,300507.0,438769.0,0.121234
13,2013,162626.0,321493.0,484119.0,0.103357
14,2014,181174.0,345165.0,526339.0,0.087210
15,2015,196934.0,370419.0,567353.0,0.077923
16,2016,206592.0,395202.0,601794.0,0.060705
17,2017,211538.0,418940.0,630478.0,0.047664
18,NaN,NaN,NaN,NaN,NaN

In [182]:
#Datos de la poblacion de la ciudad de cali.

Poblacion_cali = pd.read_excel(Ruta+'Originales/1_Generalidades.xls',sheet_name='C1.2.1', header=0)

Poblacion_cali.head(19)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.2 POBLACIÓN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1.2.1 Estimaciones y proyecciones de població...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1987 - 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Descripción,1.987000e+03,1.988000e+03,1.989000e+03,1.990000e+03,1.991000e+03,1.992000e+03,1.993000e+03,1.994000e+03,1.995000e+03,...,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Población total,1.522188e+06,1.572755e+06,1.621948e+06,1.669322e+06,1.714415e+06,1.756781e+06,1.796111e+06,1.832238e+06,1.865307e+06,...,2.269653e+06,2.294653e+06,2.319684e+06,2.344734e+06,2.369821e+06,2.394925e+06,2.420114e+06,2.445405e+06,2.470852e+06,2.496442e+06
16,Densidad bruta,2.716922e+01,2.807178e+01,2.894981e+01,2.979538e+01,3.060024e+01,3.135642e+01,3.205841e+01,3.270324e+01,3.329348e+01,...,4.051056e+01,4.095678e+01,4.140356e+01,4.185067e+01,4.229844e+01,4.274652e+01,4.319611e+01,4.364753e+01,4.410172e+01,4.455847e+01
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Población Comunas1,1.491779e+06,1.540755e+06,1.588473e+06,1.634531e+06,1.678514e+06,1.720010e+06,1.758730e+06,1.794518e+06,1.827483e+06,...,2.233016e+06,2.258025e+06,2.283057e+06,2.308112e+06,2.333203e+06,2.358302e+06,2.383485e+06,2.408773e+06,2.434211e+06,2.459789e+06

In [183]:
import pandas as pd
from scipy import stats # importando scipy.stats
from pandas import ExcelWriter
from pandas import ExcelFile



#Revision de los datos de la estacion la flora 2010-2017.

flora2010 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2010 (ug-m3)', header=0)
flora2011 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2011 (ug-m3)', header=0)
flora2012 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2012 (ug-m3)', header=0)
flora2013 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2013 (ug-m3)', header=0)
flora2014 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2014 (ug-m3)', header=0)
flora2015 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2015 (ug-m3)', header=0)
flora2016 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2016 (ug-m3)', header=0)
flora2017 = pd.read_excel(Ruta+'Originales/1.LAFLORA.xls',sheet_name='2017 (ug-m3)', header=0)

#Agrupo los datos de contaminacion y el total de vehiculos.
flora2010['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[10,3]
flora2011['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[11,3]
flora2012['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[12,3]
flora2013['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[13,3]
flora2014['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[14,3]
flora2015['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[15,3]
flora2016['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[16,3]
flora2017['Motos_vehiculos_particulares']=Tasa_de_motorizacion_general.iloc[17,3]

#Agrupo los datos de contaminacion y la poblacion.
flora2010['Poblacion']=Poblacion_cali.iloc[15,24]
flora2011['Poblacion']=Poblacion_cali.iloc[15,25]
flora2012['Poblacion']=Poblacion_cali.iloc[15,26]
flora2013['Poblacion']=Poblacion_cali.iloc[15,27]
flora2014['Poblacion']=Poblacion_cali.iloc[15,28]
flora2015['Poblacion']=Poblacion_cali.iloc[15,29]
flora2016['Poblacion']=Poblacion_cali.iloc[15,30]
flora2017['Poblacion']=Poblacion_cali.iloc[15,31]

In [162]:
flora2013.head(5)

,Fecha & Hora,PM10 (ug/m3),SO2 (ug/m3),NO2 (ug/m3),CO (ug/m3),O3 (ug/m3),Vel Viento (m/s),Dir Viento (Grados),Temperatura (C°),Humedad (%),Radiacion Solar (Watt/M2),Lluvia (mm),Motos_vehiculos_particulares,Poblacion
0,01-01-2013 01:00,55.2,NaN,28.015776,NaN,NaN,0.4,67.0,23.7,72.6,0.0,0.0,484119.0,2319684.0
1,01-01-2013 02:00,74.3,NaN,26.461126,NaN,NaN,0.1,88.5,23.3,74.5,0.0,0.0,484119.0,2319684.0
2,01-01-2013 03:00,59.1,NaN,23.927469,NaN,NaN,0.6,31.9,23.0,76.4,0.0,0.0,484119.0,2319684.0
3,01-01-2013 04:00,57.7,NaN,20.060068,NaN,NaN,0.1,31.3,22.8,77.1,0.0,0.0,484119.0,2319684.0
4,01-01-2013 05:00,32.0,NaN,21.196108,NaN,NaN,0.1,339.4,23.0,76.5,0.0,0.0,484119.0,2319684.0

In [184]:
#Cambio el nombre de la columnas.

flora2010=flora2010.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})

#Crea una columna con los numero de nulos.
flora2010['N_NA']=flora2010.isnull().sum(axis=1)

#Solo dejo los registros con menos de 3 nulos.
flora2010=flora2010[flora2010.N_NA<3]

flora2010=flora2010.drop(['N_NA'], axis=1)

# Cambio los N/A por cero

#flora2010['H2S'].fillna(0, inplace=True)
flora2010['PM10'].fillna(0, inplace=True)
flora2010['SO2'].fillna(0, inplace=True)
flora2010['NO2'].fillna(0, inplace=True)
flora2010['CO'].fillna(0, inplace=True)
flora2010['O3'].fillna(0, inplace=True)
flora2010['VelVien'].fillna(0, inplace=True)
flora2010['DirVien'].fillna(0, inplace=True)
flora2010['Temp'].fillna(0, inplace=True)
flora2010['Humedad'].fillna(0, inplace=True)
flora2010['RSolar'].fillna(0, inplace=True)
flora2010['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2010['H2S'] = flora2010.apply(lambda x:is_float(x['H2S']), axis=1)
flora2010['NO2'] = flora2010.apply(lambda x:is_float(x['NO2']), axis=1)
flora2010['O3'] = flora2010.apply(lambda x:is_float(x['O3']), axis=1)
flora2010['PM10'] = flora2010.apply(lambda x:is_float(x['PM10']), axis=1)
flora2010['SO2'] = flora2010.apply(lambda x:is_float(x['SO2']), axis=1)
flora2010['CO'] = flora2010.apply(lambda x:is_float(x['CO']), axis=1)
flora2010['DirVien'] = flora2010.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2010['Humedad'] = flora2010.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2010['Lluvia'] = flora2010.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2010['RSolar'] = flora2010.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2010['Temp'] = flora2010.apply(lambda x:is_float(x['Temp']), axis=1)
flora2010['VelVien'] = flora2010.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2010['Motos_vehiculos_particulares'] = flora2010.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2010['Poblacion'] = flora2010.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2010['H2S'] = flora2010[['H2S']].astype('float32')
flora2010['NO2'] = flora2010['NO2'].astype('float32')
flora2010['O3'] = flora2010['O3'].astype('float32')
flora2010['PM10'] = flora2010['PM10'].astype('float32')
flora2010['SO2'] = flora2010['SO2'].astype('float32')
flora2010['DirVien'] = flora2010['DirVien'].astype('float32')
flora2010['Humedad'] = flora2010['Humedad'].astype('float32')
flora2010['Lluvia'] = flora2010['Lluvia'].astype('float32')
flora2010['RSolar'] = flora2010['RSolar'].astype('float32')
flora2010['Temp'] = flora2010['Temp'].astype('float32')
flora2010['VelVien'] = flora2010['VelVien'].astype('float32')
flora2010['CO'] =  flora2010['CO'].astype('float32')
flora2010['Motos_vehiculos_particulares'] =  flora2010['Motos_vehiculos_particulares'].astype('float32')
flora2010['Poblacion'] =  flora2010['Poblacion'].astype('float32')



#flora2010['H2S']=cambiar_outlier(flora2010['H2S'])
flora2010['NO2']=cambiar_outlier(flora2010['NO2'])
flora2010['Temp']=cambiar_outlier(flora2010['Temp'])
flora2010['O3']=cambiar_outlier(flora2010['O3'])
flora2010['PM10']=cambiar_outlier(flora2010['PM10'])
flora2010['SO2']=cambiar_outlier(flora2010['SO2'])
flora2010['DirVien']=cambiar_outlier(flora2010['DirVien'])
flora2010['Humedad']=cambiar_outlier(flora2010['Humedad'])
flora2010['Lluvia']=cambiar_outlier(flora2010['Lluvia'])
flora2010['RSolar']=cambiar_outlier(flora2010['RSolar'])
flora2010['VelVien']=cambiar_outlier(flora2010['VelVien'])
flora2010['CO']=cambiar_outlier(flora2010['CO'])
flora2010['Fecha'] = pd.to_datetime(flora2010['Fecha'], errors='coerce')

In [185]:
flora2010_quarter=flora2010.groupby(flora2010['Fecha'].dt.quarter).mean()

In [186]:
flora2010_quarter.head()

,PM10,SO2,NO2,CO,O3,VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,
1.0,24.953753,13.106896,19.214588,1218.183594,18.645441,0.800726,157.625183,23.486198,78.390800,144.388855,0.939613,348066.0,2244668.0
2.0,19.868654,11.563092,13.277941,1038.491089,21.050629,0.771865,157.972168,23.962385,76.567123,164.242813,0.382813,348066.0,2244668.0
3.0,27.656900,14.877653,24.293142,1175.048462,24.687567,0.779601,160.539948,24.359745,72.358475,168.964218,0.263172,348066.0,2244668.0
4.0,26.076992,11.371197,19.537598,1406.443481,18.535471,0.756381,161.421753,23.619173,76.173996,148.481003,0.572834,348066.0,2244668.0

In [187]:
#Cambio el nombre de la columnas.

flora2011=flora2011.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})

#Crea una columna con los numero de nulos.
flora2011['N_NA']=flora2011.isnull().sum(axis=1)

#Solo dejo los registros con menos de 3 nulos.
flora2011=flora2011[flora2011.N_NA<3]

flora2011=flora2011.drop(['N_NA'], axis=1)

# Cambio los N/A por cero

#flora2011['H2S'].fillna(0, inplace=True)
flora2011['PM10'].fillna(0, inplace=True)
flora2011['SO2'].fillna(0, inplace=True)
flora2011['NO2'].fillna(0, inplace=True)
flora2011['CO'].fillna(0, inplace=True)
flora2011['O3'].fillna(0, inplace=True)
flora2011['VelVien'].fillna(0, inplace=True)
flora2011['DirVien'].fillna(0, inplace=True)
flora2011['Temp'].fillna(0, inplace=True)
flora2011['Humedad'].fillna(0, inplace=True)
flora2011['RSolar'].fillna(0, inplace=True)
flora2011['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2011['H2S'] = flora2011.apply(lambda x:is_float(x['H2S']), axis=1)
flora2011['NO2'] = flora2011.apply(lambda x:is_float(x['NO2']), axis=1)
flora2011['O3'] = flora2011.apply(lambda x:is_float(x['O3']), axis=1)
flora2011['PM10'] = flora2011.apply(lambda x:is_float(x['PM10']), axis=1)
flora2011['SO2'] = flora2011.apply(lambda x:is_float(x['SO2']), axis=1)
flora2011['CO'] = flora2011.apply(lambda x:is_float(x['CO']), axis=1)
flora2011['DirVien'] = flora2011.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2011['Humedad'] = flora2011.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2011['Lluvia'] = flora2011.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2011['RSolar'] = flora2011.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2011['Temp'] = flora2011.apply(lambda x:is_float(x['Temp']), axis=1)
flora2011['VelVien'] = flora2011.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2011['Motos_vehiculos_particulares'] = flora2011.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2011['Poblacion'] = flora2011.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2011['H2S'] = flora2011[['H2S']].astype('float32')
flora2011['NO2'] = flora2011['NO2'].astype('float32')
flora2011['O3'] = flora2011['O3'].astype('float32')
flora2011['PM10'] = flora2011['PM10'].astype('float32')
flora2011['SO2'] = flora2011['SO2'].astype('float32')
flora2011['DirVien'] = flora2011['DirVien'].astype('float32')
flora2011['Humedad'] = flora2011['Humedad'].astype('float32')
flora2011['Lluvia'] = flora2011['Lluvia'].astype('float32')
flora2011['RSolar'] = flora2011['RSolar'].astype('float32')
flora2011['Temp'] = flora2011['Temp'].astype('float32')
flora2011['VelVien'] = flora2011['VelVien'].astype('float32')
flora2011['CO'] =  flora2011['CO'].astype('float32')
flora2011['Motos_vehiculos_particulares'] =  flora2011['Motos_vehiculos_particulares'].astype('float32')
flora2011['Poblacion'] =  flora2011['Poblacion'].astype('float32')



#flora2011['H2S']=cambiar_outlier(flora2011['H2S'])
flora2011['NO2']=cambiar_outlier(flora2011['NO2'])
flora2011['Temp']=cambiar_outlier(flora2011['Temp'])
flora2011['O3']=cambiar_outlier(flora2011['O3'])
flora2011['PM10']=cambiar_outlier(flora2011['PM10'])
flora2011['SO2']=cambiar_outlier(flora2011['SO2'])
flora2011['DirVien']=cambiar_outlier(flora2011['DirVien'])
flora2011['Humedad']=cambiar_outlier(flora2011['Humedad'])
flora2011['Lluvia']=cambiar_outlier(flora2011['Lluvia'])
flora2011['RSolar']=cambiar_outlier(flora2011['RSolar'])
flora2011['VelVien']=cambiar_outlier(flora2011['VelVien'])
flora2011['CO']=cambiar_outlier(flora2011['CO'])
flora2011['Fecha'] = pd.to_datetime(flora2011['Fecha'], errors='coerce')

In [188]:
flora2011_quarter=flora2011.groupby(flora2011['Fecha'].dt.quarter).mean()

In [189]:
flora2011_quarter.head()

,PM10,SO2,NO2,CO,O3,VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,
1.0,27.081070,19.050438,16.414560,1310.206177,20.609961,0.869376,171.727844,24.641081,70.241974,163.728989,0.190382,391327.0,2269653.0
2.0,24.417490,21.366652,13.322201,970.417175,22.793581,0.773607,168.761795,24.391567,73.160591,158.046310,0.413592,391327.0,2269653.0
3.0,33.543011,20.326689,24.378836,372.042328,10.195774,0.826553,161.646378,24.690735,70.674690,154.746552,0.408934,391327.0,2269653.0
4.0,26.189116,22.088799,22.887011,461.908051,9.800848,0.740303,165.766815,23.873154,73.863457,144.114441,0.595508,391327.0,2269653.0

In [190]:
#Cambio el nombre de la columnas.

flora2012=flora2012.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})

#Crea una columna con los numero de nulos.
flora2012['N_NA']=flora2012.isnull().sum(axis=1)

#Solo dejo los registros con menos de 3 nulos.
flora2012=flora2012[flora2012.N_NA<3]

flora2012=flora2012.drop(['N_NA'], axis=1)

# Cambio los N/A por cero

#flora2012['H2S'].fillna(0, inplace=True)
flora2012['PM10'].fillna(0, inplace=True)
flora2012['SO2'].fillna(0, inplace=True)
flora2012['NO2'].fillna(0, inplace=True)
flora2012['CO'].fillna(0, inplace=True)
flora2012['O3'].fillna(0, inplace=True)
flora2012['VelVien'].fillna(0, inplace=True)
flora2012['DirVien'].fillna(0, inplace=True)
flora2012['Temp'].fillna(0, inplace=True)
flora2012['Humedad'].fillna(0, inplace=True)
flora2012['RSolar'].fillna(0, inplace=True)
flora2012['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2012['H2S'] = flora2012.apply(lambda x:is_float(x['H2S']), axis=1)
flora2012['NO2'] = flora2012.apply(lambda x:is_float(x['NO2']), axis=1)
flora2012['O3'] = flora2012.apply(lambda x:is_float(x['O3']), axis=1)
flora2012['PM10'] = flora2012.apply(lambda x:is_float(x['PM10']), axis=1)
flora2012['SO2'] = flora2012.apply(lambda x:is_float(x['SO2']), axis=1)
flora2012['CO'] = flora2012.apply(lambda x:is_float(x['CO']), axis=1)
flora2012['DirVien'] = flora2012.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2012['Humedad'] = flora2012.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2012['Lluvia'] = flora2012.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2012['RSolar'] = flora2012.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2012['Temp'] = flora2012.apply(lambda x:is_float(x['Temp']), axis=1)
flora2012['VelVien'] = flora2012.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2012['Motos_vehiculos_particulares'] = flora2012.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2012['Poblacion'] = flora2012.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2012['H2S'] = flora2012[['H2S']].astype('float32')
flora2012['NO2'] = flora2012['NO2'].astype('float32')
flora2012['O3'] = flora2012['O3'].astype('float32')
flora2012['PM10'] = flora2012['PM10'].astype('float32')
flora2012['SO2'] = flora2012['SO2'].astype('float32')
flora2012['DirVien'] = flora2012['DirVien'].astype('float32')
flora2012['Humedad'] = flora2012['Humedad'].astype('float32')
flora2012['Lluvia'] = flora2012['Lluvia'].astype('float32')
flora2012['RSolar'] = flora2012['RSolar'].astype('float32')
flora2012['Temp'] = flora2012['Temp'].astype('float32')
flora2012['VelVien'] = flora2012['VelVien'].astype('float32')
flora2012['CO'] =  flora2012['CO'].astype('float32')
flora2012['Motos_vehiculos_particulares'] =  flora2012['Motos_vehiculos_particulares'].astype('float32')
flora2012['Poblacion'] =  flora2012['Poblacion'].astype('float32')



#flora2012['H2S']=cambiar_outlier(flora2012['H2S'])
flora2012['NO2']=cambiar_outlier(flora2012['NO2'])
flora2012['Temp']=cambiar_outlier(flora2012['Temp'])
#flora2012['O3']=cambiar_outlier(flora2012['O3'])
flora2012['PM10']=cambiar_outlier(flora2012['PM10'])
#flora2012['SO2']=cambiar_outlier(flora2012['SO2'])
flora2012['DirVien']=cambiar_outlier(flora2012['DirVien'])
flora2012['Humedad']=cambiar_outlier(flora2012['Humedad'])
flora2012['Lluvia']=cambiar_outlier(flora2012['Lluvia'])
flora2012['RSolar']=cambiar_outlier(flora2012['RSolar'])
flora2012['VelVien']=cambiar_outlier(flora2012['VelVien'])
flora2012['CO']=cambiar_outlier(flora2012['CO'])
flora2012['Fecha'] = pd.to_datetime(flora2012['Fecha'], errors='coerce')

flora2012_quarter=flora2012.groupby(flora2012['Fecha'].dt.quarter).mean()
flora2012_quarter.head()

,PM10,SO2,NO2,CO,O3,VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,
1.0,28.528126,0.0,26.099182,1743.152832,0.0,0.904167,183.896881,25.420834,64.468750,203.058334,0.060729,438769.0,2294653.0
2.0,16.134058,0.0,23.318489,1737.367065,0.0,0.979710,164.640579,24.742754,68.265221,170.121735,0.426957,438769.0,2294653.0
3.0,28.120001,0.0,28.265469,1910.135254,0.0,0.789756,156.781464,25.760489,65.847801,172.491699,0.107707,438769.0,2294653.0
4.0,25.519133,0.0,26.382975,1857.144653,0.0,0.827803,166.481613,24.617041,70.051422,169.443939,0.419806,438769.0,2294653.0

In [191]:
#Cambio el nombre de la columnas.

flora2013=flora2013.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})

#Crea una columna con los numero de nulos.
#flora2013['N_NA']=flora2013.isnull().sum(axis=1)

#Solo dejo los registros con menos de 3 nulos.
#flora2013=flora2013[flora2013.N_NA<3]

#flora2013=flora2013.drop(['N_NA'], axis=1)

# Cambio los N/A por cero

#flora2013['H2S'].fillna(0, inplace=True)
flora2013['PM10'].fillna(0, inplace=True)
flora2013['SO2'].fillna(0, inplace=True)
flora2013['NO2'].fillna(0, inplace=True)
flora2013['CO'].fillna(0, inplace=True)
flora2013['O3'].fillna(0, inplace=True)
flora2013['VelVien'].fillna(0, inplace=True)
flora2013['DirVien'].fillna(0, inplace=True)
flora2013['Temp'].fillna(0, inplace=True)
flora2013['Humedad'].fillna(0, inplace=True)
flora2013['RSolar'].fillna(0, inplace=True)
flora2013['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2013['H2S'] = flora2013.apply(lambda x:is_float(x['H2S']), axis=1)
flora2013['NO2'] = flora2013.apply(lambda x:is_float(x['NO2']), axis=1)
flora2013['O3'] = flora2013.apply(lambda x:is_float(x['O3']), axis=1)
flora2013['PM10'] = flora2013.apply(lambda x:is_float(x['PM10']), axis=1)
flora2013['SO2'] = flora2013.apply(lambda x:is_float(x['SO2']), axis=1)
flora2013['CO'] = flora2013.apply(lambda x:is_float(x['CO']), axis=1)
flora2013['DirVien'] = flora2013.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2013['Humedad'] = flora2013.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2013['Lluvia'] = flora2013.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2013['RSolar'] = flora2013.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2013['Temp'] = flora2013.apply(lambda x:is_float(x['Temp']), axis=1)
flora2013['VelVien'] = flora2013.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2013['Motos_vehiculos_particulares'] = flora2013.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2013['Poblacion'] = flora2013.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2013['H2S'] = flora2013[['H2S']].astype('float32')
flora2013['NO2'] = flora2013['NO2'].astype('float32')
flora2013['O3'] = flora2013['O3'].astype('float32')
flora2013['PM10'] = flora2013['PM10'].astype('float32')
flora2013['SO2'] = flora2013['SO2'].astype('float32')
flora2013['DirVien'] = flora2013['DirVien'].astype('float32')
flora2013['Humedad'] = flora2013['Humedad'].astype('float32')
flora2013['Lluvia'] = flora2013['Lluvia'].astype('float32')
flora2013['RSolar'] = flora2013['RSolar'].astype('float32')
flora2013['Temp'] = flora2013['Temp'].astype('float32')
flora2013['VelVien'] = flora2013['VelVien'].astype('float32')
flora2013['CO'] =  flora2013['CO'].astype('float32')
flora2013['Motos_vehiculos_particulares'] =  flora2013['Motos_vehiculos_particulares'].astype('float32')
flora2013['Poblacion'] =  flora2013['Poblacion'].astype('float32')



#flora2013['H2S']=cambiar_outlier(flora2013['H2S'])
#flora2013['NO2']=cambiar_outlier(flora2013['NO2'])
flora2013['Temp']=cambiar_outlier(flora2013['Temp'])
#flora2013['O3']=cambiar_outlier(flora2013['O3'])
flora2013['PM10']=cambiar_outlier(flora2013['PM10'])
#flora2013['SO2']=cambiar_outlier(flora2013['SO2'])
flora2013['DirVien']=cambiar_outlier(flora2013['DirVien'])
flora2013['Humedad']=cambiar_outlier(flora2013['Humedad'])
flora2013['Lluvia']=cambiar_outlier(flora2013['Lluvia'])
flora2013['RSolar']=cambiar_outlier(flora2013['RSolar'])
flora2013['VelVien']=cambiar_outlier(flora2013['VelVien'])
#flora2013['CO']=cambiar_outlier(flora2013['CO'])
flora2013['Fecha'] = pd.to_datetime(flora2013['Fecha'], errors='coerce')

flora2013_quarter=flora2013.groupby(flora2013['Fecha'].dt.quarter).mean()
flora2013_quarter.head()

,PM10,SO2,NO2,CO,O3,VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,
1.0,19.838018,0.0,18.064312,0.0,0.0,0.879662,163.281158,25.289614,68.600052,170.201431,0.185106,484119.0,2319684.0
2.0,22.679886,0.0,13.224659,0.0,0.0,0.764835,143.535263,22.223125,62.805065,147.752792,0.276111,484119.0,2319684.0
3.0,18.081238,0.0,4.379361,0.0,0.0,0.870085,148.890640,23.849243,61.013138,171.164780,0.134173,484119.0,2319684.0
4.0,31.919754,0.0,3.789606,0.0,0.0,0.802410,164.710770,23.539320,68.335823,154.998337,0.472869,484119.0,2319684.0

In [156]:
flora2013.shape

(2, 14)

In [192]:
#Cambio el nombre de la columnas.

flora2014=flora2014.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})



# Cambio los N/A por cero

#flora2014['H2S'].fillna(0, inplace=True)
flora2014['PM10'].fillna(0, inplace=True)
flora2014['SO2'].fillna(0, inplace=True)
flora2014['NO2'].fillna(0, inplace=True)
flora2014['CO'].fillna(0, inplace=True)
flora2014['O3'].fillna(0, inplace=True)
flora2014['VelVien'].fillna(0, inplace=True)
flora2014['DirVien'].fillna(0, inplace=True)
flora2014['Temp'].fillna(0, inplace=True)
flora2014['Humedad'].fillna(0, inplace=True)
flora2014['RSolar'].fillna(0, inplace=True)
flora2014['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2014['H2S'] = flora2014.apply(lambda x:is_float(x['H2S']), axis=1)
flora2014['NO2'] = flora2014.apply(lambda x:is_float(x['NO2']), axis=1)
flora2014['O3'] = flora2014.apply(lambda x:is_float(x['O3']), axis=1)
flora2014['PM10'] = flora2014.apply(lambda x:is_float(x['PM10']), axis=1)
flora2014['SO2'] = flora2014.apply(lambda x:is_float(x['SO2']), axis=1)
flora2014['CO'] = flora2014.apply(lambda x:is_float(x['CO']), axis=1)
flora2014['DirVien'] = flora2014.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2014['Humedad'] = flora2014.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2014['Lluvia'] = flora2014.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2014['RSolar'] = flora2014.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2014['Temp'] = flora2014.apply(lambda x:is_float(x['Temp']), axis=1)
flora2014['VelVien'] = flora2014.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2014['Motos_vehiculos_particulares'] = flora2014.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2014['Poblacion'] = flora2014.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2014['H2S'] = flora2014[['H2S']].astype('float32')
flora2014['NO2'] = flora2014['NO2'].astype('float32')
flora2014['O3'] = flora2014['O3'].astype('float32')
flora2014['PM10'] = flora2014['PM10'].astype('float32')
flora2014['SO2'] = flora2014['SO2'].astype('float32')
flora2014['DirVien'] = flora2014['DirVien'].astype('float32')
flora2014['Humedad'] = flora2014['Humedad'].astype('float32')
flora2014['Lluvia'] = flora2014['Lluvia'].astype('float32')
flora2014['RSolar'] = flora2014['RSolar'].astype('float32')
flora2014['Temp'] = flora2014['Temp'].astype('float32')
flora2014['VelVien'] = flora2014['VelVien'].astype('float32')
flora2014['CO'] =  flora2014['CO'].astype('float32')
flora2014['Motos_vehiculos_particulares'] =  flora2014['Motos_vehiculos_particulares'].astype('float32')
flora2014['Poblacion'] =  flora2014['Poblacion'].astype('float32')



#flora2014['H2S']=cambiar_outlier(flora2014['H2S'])
#flora2014['NO2']=cambiar_outlier(flora2014['NO2'])
flora2014['Temp']=cambiar_outlier(flora2014['Temp'])
#flora2014['O3']=cambiar_outlier(flora2014['O3'])
flora2014['PM10']=cambiar_outlier(flora2014['PM10'])
#flora2014['SO2']=cambiar_outlier(flora2014['SO2'])
flora2014['DirVien']=cambiar_outlier(flora2014['DirVien'])
flora2014['Humedad']=cambiar_outlier(flora2014['Humedad'])
flora2014['Lluvia']=cambiar_outlier(flora2014['Lluvia'])
flora2014['RSolar']=cambiar_outlier(flora2014['RSolar'])
flora2014['VelVien']=cambiar_outlier(flora2014['VelVien'])
#flora2014['CO']=cambiar_outlier(flora2014['CO'])
flora2014['Fecha'] = pd.to_datetime(flora2014['Fecha'], errors='coerce')

flora2014_quarter=flora2014.groupby(flora2014['Fecha'].dt.quarter).mean()
flora2014_quarter.head()

,PM10,SO2,NO2,CO,O3,VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,
1.0,47.482609,0.0,0.0,0.0,0.0,0.912947,167.650482,25.161207,68.010239,175.383942,0.215647,526339.0,2344734.0
2.0,38.531296,0.0,0.0,0.0,0.0,0.685284,120.588058,19.048735,52.672482,127.236237,0.234257,526339.0,2344734.0
3.0,47.904537,0.0,0.0,0.0,0.0,0.906096,150.806808,24.667675,63.144661,180.938843,0.281555,526339.0,2344734.0
4.0,46.285915,0.0,0.0,0.0,0.0,0.821314,160.721878,24.563658,70.085541,160.593643,0.372491,526339.0,2344734.0

In [193]:
flora2015=flora2015.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})



# Cambio los N/A por cero

#flora2015['H2S'].fillna(0, inplace=True)
flora2015['PM10'].fillna(0, inplace=True)
flora2015['SO2'].fillna(0, inplace=True)
flora2015['NO2'].fillna(0, inplace=True)
flora2015['CO'].fillna(0, inplace=True)
flora2015['O3'].fillna(0, inplace=True)
flora2015['VelVien'].fillna(0, inplace=True)
flora2015['DirVien'].fillna(0, inplace=True)
flora2015['Temp'].fillna(0, inplace=True)
flora2015['Humedad'].fillna(0, inplace=True)
flora2015['RSolar'].fillna(0, inplace=True)
flora2015['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2015['H2S'] = flora2015.apply(lambda x:is_float(x['H2S']), axis=1)
flora2015['NO2'] = flora2015.apply(lambda x:is_float(x['NO2']), axis=1)
flora2015['O3'] = flora2015.apply(lambda x:is_float(x['O3']), axis=1)
flora2015['PM10'] = flora2015.apply(lambda x:is_float(x['PM10']), axis=1)
flora2015['SO2'] = flora2015.apply(lambda x:is_float(x['SO2']), axis=1)
flora2015['CO'] = flora2015.apply(lambda x:is_float(x['CO']), axis=1)
flora2015['DirVien'] = flora2015.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2015['Humedad'] = flora2015.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2015['Lluvia'] = flora2015.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2015['RSolar'] = flora2015.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2015['Temp'] = flora2015.apply(lambda x:is_float(x['Temp']), axis=1)
flora2015['VelVien'] = flora2015.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2015['Motos_vehiculos_particulares'] = flora2015.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2015['Poblacion'] = flora2015.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2015['H2S'] = flora2015[['H2S']].astype('float32')
flora2015['NO2'] = flora2015['NO2'].astype('float32')
flora2015['O3'] = flora2015['O3'].astype('float32')
flora2015['PM10'] = flora2015['PM10'].astype('float32')
flora2015['SO2'] = flora2015['SO2'].astype('float32')
flora2015['DirVien'] = flora2015['DirVien'].astype('float32')
flora2015['Humedad'] = flora2015['Humedad'].astype('float32')
flora2015['Lluvia'] = flora2015['Lluvia'].astype('float32')
flora2015['RSolar'] = flora2015['RSolar'].astype('float32')
flora2015['Temp'] = flora2015['Temp'].astype('float32')
flora2015['VelVien'] = flora2015['VelVien'].astype('float32')
flora2015['CO'] =  flora2015['CO'].astype('float32')
flora2015['Motos_vehiculos_particulares'] =  flora2015['Motos_vehiculos_particulares'].astype('float32')
flora2015['Poblacion'] =  flora2015['Poblacion'].astype('float32')



#flora2015['H2S']=cambiar_outlier(flora2015['H2S'])
#flora2015['NO2']=cambiar_outlier(flora2015['NO2'])
flora2015['Temp']=cambiar_outlier(flora2015['Temp'])
#flora2015['O3']=cambiar_outlier(flora2015['O3'])
flora2015['PM10']=cambiar_outlier(flora2015['PM10'])
#flora2015['SO2']=cambiar_outlier(flora2015['SO2'])
flora2015['DirVien']=cambiar_outlier(flora2015['DirVien'])
flora2015['Humedad']=cambiar_outlier(flora2015['Humedad'])
flora2015['Lluvia']=cambiar_outlier(flora2015['Lluvia'])
flora2015['RSolar']=cambiar_outlier(flora2015['RSolar'])
flora2015['VelVien']=cambiar_outlier(flora2015['VelVien'])
#flora2015['CO']=cambiar_outlier(flora2015['CO'])
flora2015['Fecha'] = pd.to_datetime(flora2015['Fecha'], errors='coerce')

flora2015_quarter=flora2015.groupby(flora2015['Fecha'].dt.quarter).mean()
flora2015_quarter.head()

,PM10,SO2,NO2,CO,O3,H2S (ug/m3),VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,,
1.0,35.878597,0.0,0.0,0.0,0.0,2.867021,0.060676,1.444734,0.0,0.0,0.567440,0.208546,567353.0,2369821.0
2.0,32.421597,0.0,0.0,0.0,0.0,3.134690,0.032250,0.795604,0.0,0.0,0.283421,0.193502,567353.0,2369821.0
3.0,27.916824,0.0,0.0,0.0,0.0,2.932991,0.027221,0.929868,0.0,0.0,0.319234,0.110047,567353.0,2369821.0
4.0,37.520321,0.0,0.0,0.0,0.0,2.679160,0.031522,0.839981,0.0,0.0,0.466588,0.124192,567353.0,2369821.0

In [194]:
flora2016=flora2016.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})



# Cambio los N/A por cero

#flora2016['H2S'].fillna(0, inplace=True)
flora2016['PM10'].fillna(0, inplace=True)
flora2016['SO2'].fillna(0, inplace=True)
flora2016['NO2'].fillna(0, inplace=True)
flora2016['CO'].fillna(0, inplace=True)
flora2016['O3'].fillna(0, inplace=True)
flora2016['VelVien'].fillna(0, inplace=True)
flora2016['DirVien'].fillna(0, inplace=True)
flora2016['Temp'].fillna(0, inplace=True)
flora2016['Humedad'].fillna(0, inplace=True)
flora2016['RSolar'].fillna(0, inplace=True)
flora2016['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2016['H2S'] = flora2016.apply(lambda x:is_float(x['H2S']), axis=1)
flora2016['NO2'] = flora2016.apply(lambda x:is_float(x['NO2']), axis=1)
flora2016['O3'] = flora2016.apply(lambda x:is_float(x['O3']), axis=1)
flora2016['PM10'] = flora2016.apply(lambda x:is_float(x['PM10']), axis=1)
flora2016['SO2'] = flora2016.apply(lambda x:is_float(x['SO2']), axis=1)
flora2016['CO'] = flora2016.apply(lambda x:is_float(x['CO']), axis=1)
flora2016['DirVien'] = flora2016.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2016['Humedad'] = flora2016.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2016['Lluvia'] = flora2016.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2016['RSolar'] = flora2016.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2016['Temp'] = flora2016.apply(lambda x:is_float(x['Temp']), axis=1)
flora2016['VelVien'] = flora2016.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2016['Motos_vehiculos_particulares'] = flora2016.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2016['Poblacion'] = flora2016.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2016['H2S'] = flora2016[['H2S']].astype('float32')
flora2016['NO2'] = flora2016['NO2'].astype('float32')
flora2016['O3'] = flora2016['O3'].astype('float32')
flora2016['PM10'] = flora2016['PM10'].astype('float32')
flora2016['SO2'] = flora2016['SO2'].astype('float32')
flora2016['DirVien'] = flora2016['DirVien'].astype('float32')
flora2016['Humedad'] = flora2016['Humedad'].astype('float32')
flora2016['Lluvia'] = flora2016['Lluvia'].astype('float32')
flora2016['RSolar'] = flora2016['RSolar'].astype('float32')
flora2016['Temp'] = flora2016['Temp'].astype('float32')
flora2016['VelVien'] = flora2016['VelVien'].astype('float32')
flora2016['CO'] =  flora2016['CO'].astype('float32')
flora2016['Motos_vehiculos_particulares'] =  flora2016['Motos_vehiculos_particulares'].astype('float32')
flora2016['Poblacion'] =  flora2016['Poblacion'].astype('float32')



#flora2016['H2S']=cambiar_outlier(flora2016['H2S'])
#flora2016['NO2']=cambiar_outlier(flora2016['NO2'])
#flora2016['Temp']=cambiar_outlier(flora2016['Temp'])
#flora2016['O3']=cambiar_outlier(flora2016['O3'])
flora2016['PM10']=cambiar_outlier(flora2016['PM10'])
#flora2016['SO2']=cambiar_outlier(flora2016['SO2'])
#flora2016['DirVien']=cambiar_outlier(flora2016['DirVien'])
#flora2016['Humedad']=cambiar_outlier(flora2016['Humedad'])
flora2016['Lluvia']=cambiar_outlier(flora2016['Lluvia'])
#flora2016['RSolar']=cambiar_outlier(flora2016['RSolar'])
#flora2016['VelVien']=cambiar_outlier(flora2016['VelVien'])
#flora2016['CO']=cambiar_outlier(flora2016['CO'])
flora2016['Fecha'] = pd.to_datetime(flora2016['Fecha'], errors='coerce')

flora2016_quarter=flora2016.groupby(flora2016['Fecha'].dt.quarter).mean()
flora2016_quarter.head()

,PM10,SO2,NO2,CO,O3,H2S (ug/m3),VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,,
1.0,35.772816,0.0,0.0,0.0,1.228437,2.668533,0.0,0.0,0.0,0.0,0.0,0.265361,601794.0,2394925.0
2.0,34.026611,0.0,0.0,0.0,1.590459,2.712156,0.0,0.0,0.0,0.0,0.0,0.253803,601794.0,2394925.0
3.0,31.355671,0.0,0.0,0.0,1.392783,1.971905,0.0,0.0,0.0,0.0,0.0,0.088913,601794.0,2394925.0
4.0,22.212193,0.0,0.0,0.0,13.520123,2.671935,0.0,0.0,0.0,0.0,0.0,0.280813,601794.0,2394925.0

In [195]:
flora2017=flora2017.rename(columns={
  "Fecha & Hora":"Fecha",
  "PM10 (ug/m3)":"PM10",
    "SO2  (ug/m3)":"SO2",
    "NO2  (ug/m3)":"NO2",
    "CO  (ug/m3)":"CO",
    "O3  (ug/m3)":"O3",
    "Vel Viento  (m/s)":"VelVien",
    "Dir Viento (Grados)":"DirVien",
    "Temperatura (C°)":"Temp", 
    "Humedad (%)":"Humedad",
    "Radiacion Solar (Watt/M2)":"RSolar", 
    "Lluvia (mm)":"Lluvia" 
})



# Cambio los N/A por cero

#flora2017['H2S'].fillna(0, inplace=True)
flora2017['PM10'].fillna(0, inplace=True)
flora2017['SO2'].fillna(0, inplace=True)
flora2017['NO2'].fillna(0, inplace=True)
flora2017['CO'].fillna(0, inplace=True)
flora2017['O3'].fillna(0, inplace=True)
flora2017['VelVien'].fillna(0, inplace=True)
flora2017['DirVien'].fillna(0, inplace=True)
flora2017['Temp'].fillna(0, inplace=True)
flora2017['Humedad'].fillna(0, inplace=True)
flora2017['RSolar'].fillna(0, inplace=True)
flora2017['Lluvia'].fillna(0, inplace=True)


#Aplico la funcion is_float en cada unos de la columnas.
#flora2017['H2S'] = flora2017.apply(lambda x:is_float(x['H2S']), axis=1)
flora2017['NO2'] = flora2017.apply(lambda x:is_float(x['NO2']), axis=1)
flora2017['O3'] = flora2017.apply(lambda x:is_float(x['O3']), axis=1)
flora2017['PM10'] = flora2017.apply(lambda x:is_float(x['PM10']), axis=1)
flora2017['SO2'] = flora2017.apply(lambda x:is_float(x['SO2']), axis=1)
flora2017['CO'] = flora2017.apply(lambda x:is_float(x['CO']), axis=1)
flora2017['DirVien'] = flora2017.apply(lambda x:is_float(x['DirVien']), axis=1)
flora2017['Humedad'] = flora2017.apply(lambda x:is_float(x['Humedad']), axis=1)
flora2017['Lluvia'] = flora2017.apply(lambda x:is_float(x['Lluvia']), axis=1)
flora2017['RSolar'] = flora2017.apply(lambda x:is_float(x['RSolar']), axis=1)
flora2017['Temp'] = flora2017.apply(lambda x:is_float(x['Temp']), axis=1)
flora2017['VelVien'] = flora2017.apply(lambda x:is_float(x['VelVien']), axis=1)
flora2017['Motos_vehiculos_particulares'] = flora2017.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
flora2017['Poblacion'] = flora2017.apply(lambda x:is_float(x['Poblacion']), axis=1)



#Vuelvo float32 todas las columnas.abs
#flora2017['H2S'] = flora2017[['H2S']].astype('float32')
flora2017['NO2'] = flora2017['NO2'].astype('float32')
flora2017['O3'] = flora2017['O3'].astype('float32')
flora2017['PM10'] = flora2017['PM10'].astype('float32')
flora2017['SO2'] = flora2017['SO2'].astype('float32')
flora2017['DirVien'] = flora2017['DirVien'].astype('float32')
flora2017['Humedad'] = flora2017['Humedad'].astype('float32')
flora2017['Lluvia'] = flora2017['Lluvia'].astype('float32')
flora2017['RSolar'] = flora2017['RSolar'].astype('float32')
flora2017['Temp'] = flora2017['Temp'].astype('float32')
flora2017['VelVien'] = flora2017['VelVien'].astype('float32')
flora2017['CO'] =  flora2017['CO'].astype('float32')
flora2017['Motos_vehiculos_particulares'] =  flora2017['Motos_vehiculos_particulares'].astype('float32')
flora2017['Poblacion'] =  flora2017['Poblacion'].astype('float32')



#flora2017['H2S']=cambiar_outlier(flora2017['H2S'])
#flora2017['NO2']=cambiar_outlier(flora2017['NO2'])
#flora2017['Temp']=cambiar_outlier(flora2017['Temp'])
#flora2017['O3']=cambiar_outlier(flora2017['O3'])
flora2017['PM10']=cambiar_outlier(flora2017['PM10'])
#flora2017['SO2']=cambiar_outlier(flora2017['SO2'])
#flora2017['DirVien']=cambiar_outlier(flora2017['DirVien'])
#flora2017['Humedad']=cambiar_outlier(flora2017['Humedad'])
flora2017['Lluvia']=cambiar_outlier(flora2017['Lluvia'])
#flora2017['RSolar']=cambiar_outlier(flora2017['RSolar'])
#flora2017['VelVien']=cambiar_outlier(flora2017['VelVien'])
#flora2017['CO']=cambiar_outlier(flora2017['CO'])
flora2017['Fecha'] = pd.to_datetime(flora2017['Fecha'], errors='coerce')

flora2017_quarter=flora2017.groupby(flora2017['Fecha'].dt.quarter).mean()
flora2017_quarter.head()

,PM10,SO2,NO2,CO,O3,VelVien,DirVien,Temp,Humedad,RSolar,Lluvia,Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,
1.0,20.680435,0.0,0.0,0.0,19.222298,0.0,0.0,0.0,0.0,48.563286,0.015700,630478.0,2420114.0
2.0,25.191208,0.0,0.0,0.0,20.318249,0.0,0.0,0.0,0.0,102.372673,0.181820,630478.0,2420114.0
3.0,28.905861,0.0,0.0,0.0,20.532393,0.0,0.0,0.0,0.0,201.909729,0.148639,630478.0,2420114.0
4.0,28.345888,0.0,0.0,0.0,15.246668,0.0,0.0,0.0,0.0,169.167770,0.220213,630478.0,2420114.0

In [196]:
floraTotal_quarter=pd.concat([flora2010_quarter,flora2011_quarter,flora2012_quarter,flora2013_quarter,flora2014_quarter,flora2015_quarter,flora2016_quarter,flora2017_quarter], ignore_index=True,sort=True)

In [197]:
floraTotal_quarter.to_excel("floraTotal_quarter.xlsx", sheet_name='floraTotal_quarter',encoding='UTF-8') #Se crea el archivo definitivo.

In [94]:
floraTotal.shape

(70152, 15)

In [89]:
flora2010['Fecha'] = pd.to_datetime(floraTotal['Fecha'], errors='coerce')
flora2010.groupby(flora2010['Fecha'].dt.quarter).mean()

,PM10 (ug/m3),SO2 (ug/m3),NO2 (ug/m3),CO (ug/m3),O3 (ug/m3),Vel Viento (m/s),Dir Viento (Grados),Temperatura (C°),Humedad (%),Radiacion Solar (Watt/M2),Lluvia (mm),Motos_vehiculos_particulares,Poblacion
Fecha,,,,,,,,,,,,,
1.0,25.023301,13.106894,23.974694,1477.558717,18.781870,0.799517,158.105072,23.484783,78.402657,144.659179,0.937343,348066.0,2244668.0
2.0,28.066456,11.948033,23.289899,1210.693655,21.878072,0.773604,157.960660,24.263151,75.590978,173.749740,0.324892,348066.0,2244668.0
3.0,29.924300,15.052770,24.733189,1419.176731,25.364699,0.782539,160.032567,24.472545,72.157323,172.608852,0.249862,348066.0,2244668.0
4.0,26.230663,11.596855,22.497524,1435.817137,19.405864,0.754815,160.133447,23.728189,75.962585,150.274926,0.546469,348066.0,2244668.0

In [95]:
#Crea una columna con los numero de nulos.
floraTotal['N_NA']=floraTotal.isnull().sum(axis=1)

#Solo dejo los registros con menos de 3 nulos.
floraTotal=floraTotal[floraTotal.N_NA<3]

#Borro la columna temporal.
floraTotal=floraTotal.drop(['N_NA'], axis=1)
#floraTotal=floraTotal.drop(['Fecha'], axis=1)

In [96]:
floraTotal.shape

(8745, 15)

In [97]:
floraTotal.head(4)

,CO,DirVien,Fecha,H2S,Humedad,Lluvia,Motos_vehiculos_particulares,NO2,O3,PM10,Poblacion,RSolar,SO2,Temp,VelVien
4052,391.467106,176.1,18/06/2010 21:00,NaN,70.1,0,348066.0,NaN,21.635581,2.6,2244668.0,0,5.740887,24.4,3.2
4053,708.846477,149,18/06/2010 22:00,NaN,76.4,0,348066.0,NaN,11.241337,16.3,2244668.0,0,7.714161,23.5,1.5
4054,683.904529,144,18/06/2010 23:00,NaN,79.1,0,348066.0,NaN,8.239527,9.8,2244668.0,0,5.135901,22.7,1.3
4055,841.206415,197.2,18/06/2010 24:00,NaN,81.4,0,348066.0,NaN,7.457877,6.5,2244668.0,0,6.760057,22.6,0.3

In [98]:
# Cambio los N/A por cero
floraTotal['H2S'].fillna(0, inplace=True)
floraTotal['PM10'].fillna(0, inplace=True)
floraTotal['SO2'].fillna(0, inplace=True)
floraTotal['NO2'].fillna(0, inplace=True)
floraTotal['CO'].fillna(0, inplace=True)
floraTotal['O3'].fillna(0, inplace=True)
floraTotal['VelVien'].fillna(0, inplace=True)
floraTotal['DirVien'].fillna(0, inplace=True)
floraTotal['Temp'].fillna(0, inplace=True)
floraTotal['Humedad'].fillna(0, inplace=True)
floraTotal['RSolar'].fillna(0, inplace=True)
floraTotal['Lluvia'].fillna(0, inplace=True)

In [99]:
#Aplico la funcion is_float en cada unos de la columnas.
floraTotal['H2S'] = floraTotal.apply(lambda x:is_float(x['H2S']), axis=1)
floraTotal['NO2'] = floraTotal.apply(lambda x:is_float(x['NO2']), axis=1)
floraTotal['O3'] = floraTotal.apply(lambda x:is_float(x['O3']), axis=1)
floraTotal['PM10'] = floraTotal.apply(lambda x:is_float(x['PM10']), axis=1)
floraTotal['SO2'] = floraTotal.apply(lambda x:is_float(x['SO2']), axis=1)
floraTotal['CO'] = floraTotal.apply(lambda x:is_float(x['CO']), axis=1)
floraTotal['DirVien'] = floraTotal.apply(lambda x:is_float(x['DirVien']), axis=1)
floraTotal['Humedad'] = floraTotal.apply(lambda x:is_float(x['Humedad']), axis=1)
floraTotal['Lluvia'] = floraTotal.apply(lambda x:is_float(x['Lluvia']), axis=1)
floraTotal['RSolar'] = floraTotal.apply(lambda x:is_float(x['RSolar']), axis=1)
floraTotal['Temp'] = floraTotal.apply(lambda x:is_float(x['Temp']), axis=1)
floraTotal['VelVien'] = floraTotal.apply(lambda x:is_float(x['VelVien']), axis=1)
floraTotal['Motos_vehiculos_particulares'] = floraTotal.apply(lambda x:is_float(x['Motos_vehiculos_particulares']), axis=1)
floraTotal['Poblacion'] = floraTotal.apply(lambda x:is_float(x['Poblacion']), axis=1)

In [100]:
#Vuelvo float32 todas las columnas.abs
floraTotal['H2S'] = floraTotal[['H2S']].astype('float32')
floraTotal['NO2'] = floraTotal['NO2'].astype('float32')
floraTotal['O3'] = floraTotal['O3'].astype('float32')
floraTotal['PM10'] = floraTotal['PM10'].astype('float32')
floraTotal['SO2'] = floraTotal['SO2'].astype('float32')
floraTotal['DirVien'] = floraTotal['DirVien'].astype('float32')
floraTotal['H2S'] = floraTotal['H2S'].astype('float32')
floraTotal['Humedad'] = floraTotal['Humedad'].astype('float32')
floraTotal['Lluvia'] = floraTotal['Lluvia'].astype('float32')
floraTotal['RSolar'] = floraTotal['RSolar'].astype('float32')
floraTotal['Temp'] = floraTotal['Temp'].astype('float32')
floraTotal['VelVien'] = floraTotal['VelVien'].astype('float32')
floraTotal['CO'] =  floraTotal['CO'].astype('float32')
floraTotal['Motos_vehiculos_particulares'] =  floraTotal['Motos_vehiculos_particulares'].astype('float32')
floraTotal['Poblacion'] =  floraTotal['Poblacion'].astype('float32')

In [101]:
floraTotal['H2S']=cambiar_outlier(floraTotal['H2S'])
floraTotal['NO2']=cambiar_outlier(floraTotal['NO2'])
floraTotal['Temp']=cambiar_outlier(floraTotal['Temp'])
floraTotal['O3']=cambiar_outlier(floraTotal['O3'])
floraTotal['PM10']=cambiar_outlier(floraTotal['PM10'])
floraTotal['SO2']=cambiar_outlier(floraTotal['SO2'])
floraTotal['DirVien']=cambiar_outlier(floraTotal['DirVien'])
floraTotal['H2S']=cambiar_outlier(floraTotal['H2S'])
floraTotal['Humedad']=cambiar_outlier(floraTotal['Humedad'])
floraTotal['Lluvia']=cambiar_outlier(floraTotal['Lluvia'])
floraTotal['RSolar']=cambiar_outlier(floraTotal['RSolar'])
floraTotal['VelVien']=cambiar_outlier(floraTotal['VelVien'])
floraTotal['CO']=cambiar_outlier(floraTotal['CO'])
floraTotal['Fecha'] = pd.to_datetime(floraTotal['Fecha'], errors='coerce')

In [79]:
floraTotal.columns

Index(['CO', 'DirVien', 'Fecha', 'H2S', 'Humedad', 'Lluvia',
       'Motos_vehiculos_particulares', 'NO2', 'O3', 'PM10', 'Poblacion',
       'RSolar', 'SO2', 'Temp', 'VelVien'],
      dtype='object')

In [102]:
floraTotal.groupby(floraTotal['Fecha'].dt.quarter).mean()

,CO,DirVien,H2S,Humedad,Lluvia,Motos_vehiculos_particulares,NO2,O3,PM10,Poblacion,RSolar,SO2,Temp,VelVien
Fecha,,,,,,,,,,,,,,
1.0,1483.871338,169.677505,0.0,71.901543,0.324738,382970.21875,15.227518,22.960629,25.435080,2264826.50,160.013611,17.405016,24.413984,0.855940
2.0,1138.239502,166.188721,0.0,74.495659,0.427406,381164.43750,13.236891,25.955963,24.539053,2263783.75,158.644592,19.253031,24.204538,0.762793
3.0,1244.171021,160.705994,0.0,72.674599,0.342046,359723.65625,22.390755,25.898886,29.641848,2251400.75,168.807831,15.650090,24.396662,0.765022
4.0,1392.184570,162.367538,0.0,75.212448,0.508699,357891.65625,18.840147,20.688566,26.362888,2250342.75,149.687744,13.081118,23.861681,0.746122

TypeError: '<' not supported between instances of 'str' and 'datetime.date'

In [200]:
floraTotal.to_excel("FloraTotal_3mes.xlsx", sheet_name='FloraTotal',encoding='UTF-8') #Se crea el archivo definitivo.

In [121]:
floraTotal.head(20)

,CO,DirVien,Fecha,H2S,Humedad,Lluvia,Motos_vehiculos_particulares,NO2,O3,PM10,Poblacion,RSolar,SO2,Temp,VelVien
4052,391.467102,176.100006,2010-06-18 21:00:00,0.0,70.099998,0.0,348066.0,0.0,21.635599,2.600000,2244668.0,0.000000,5.740900,24.400000,3.2
4053,708.846497,149.000000,2010-06-18 22:00:00,0.0,76.400002,0.0,348066.0,0.0,11.241300,16.299999,2244668.0,0.000000,7.714200,23.500000,1.5
4054,683.904480,144.000000,2010-06-18 23:00:00,0.0,79.099998,0.0,348066.0,0.0,8.239500,9.800000,2244668.0,0.000000,5.135900,22.700001,1.3
4055,841.206421,197.199997,Sin_feha,0.0,81.400002,0.0,348066.0,0.0,7.457900,6.500000,2244668.0,0.000000,6.760100,22.600000,0.3
4056,681.828613,29.299999,2010-06-19 01:00:00,0.0,86.400002,0.0,348066.0,0.0,6.949200,9.000000,2244668.0,0.000000,5.796100,21.900000,0.6
4057,634.866394,8.000000,2010-06-19 02:00:00,0.0,87.599998,0.0,348066.0,0.0,6.350200,15.500000,2244668.0,0.000000,5.289700,21.700001,0.3
4058,668.423523,347.299988,2010-06-19 03:00:00,0.0,88.400002,0.0,348066.0,0.0,5.045700,34.599998,2244668.0,0.000000,6.296700,21.400000,0.3
4059,577.201599,34.799999,2010-06-19 04:00:00,0.0,88.699997,0.0,348066.0,0.0,5.350700,37.299999,2244668.0,0.000000,6.678600,21.299999,0.5
4060,724.085388,343.399994,2010-06-19 05:00:00,0.0,89.699997,0.0,348066.0,0.0,5.445800,27.000000,2244668.0,0.000000,7.116200,21.000000,0.1
4061,971.997925,22.400000,2010-06-19 06:00:00,0.0,89.099998,0.0,348066.0,0.0,6.253400,34.599998,2244668.0,0.200000,8.013700,21.100000,0.3
4062,576.613403,26.700001,2010-06-19 07:00:00,0.0,87.500000,0.0,348066.0,0.0,5.519600,24.700001,2244668.0,17.299999,7.189000,21.400000,0.3
4063,531.930908,42.599998,2010-06-19 08:00:00,0.0,88.800003,0.0,348066.0,0.0,5.951700,53.099998,2244668.0,108.900002,7.869300,21.500000,1.2
4064,724.577393,50.900002,2010-06-19 09:00:00,0.0,84.900002,0.0,348066.0,0.0,6.225200,27.100000,2244668.0,150.300003,9.710500,22.200001,1.1
4065,692.254395,44.700001,2010-06-19 10:00:00,0.0,79.400002,0.0,348066.0,0.0,7.425800,34.000000,2244668.0,205.800003,10.434400,23.000000,1.0
4066,568.959412,6.200000,2010-06-19 11:00:00,0.0,78.300003,0.0,348066.0,0.0,8.673900,29.799999,2244668.0,271.600006,13.247500,23.299999,1.7
4067,558.145325,27.900000,2010-06-19 12:00:00,0.0,73.099998,0.0,348066.0,0.0,12.448500,39.400002,2244668.0,186.199997,18.237101,23.799999,0.8
4068,524.857300,88.699997,2010-06-19 13:00:00,0.0,67.099998,0.0,348066.0,0.0,13.485800,21.600000,2244668.0,439.000000,58.665901,25.299999,1.0
4069,447.236694,62.400002,2010-06-19 14:00:00,0.0,67.699997,0.0,348066.0,0.0,14.241500,12.600000,2244668.0,382.600006,56.890301,25.400000,2.4
4070,481.800903,48.500000,2010-06-19 15:00:00,0.0,83.699997,0.0,348066.0,0.0,27.215300,7.000000,2244668.0,246.399994,33.715302,22.799999,1.8
4071,352.516510,1.600000,2010-06-19 16:00:00,0.0,77.099998,0.0,348066.0,0.0,28.809200,4.500000,2244668.0,248.199997,19.012600,23.700001,0.1

In [16]:
floraTotal.shape

(8745, 14)